@tailwind base;
@tailwind components;
@tailwind utilities;
.menu-icon {
  margin-right: 5px; /* Espacio entre el icono y el texto */
  color: #1b64d8; /* Color del icono */
  font-size: 10px; /* Tamaño del icono */
  vertical-align: middle; /* Alinea verticalmente el icono con el texto */
}
.menu {
  background-color: #333;
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%; /* Ancho de la lista del menú */
}

.menu {
  background-color: #333;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px; /* Ancho del contenedor del menú */
}

.menu li {
  margin: 10px 0;
  width: 100%; /* Ancho de cada elemento del menú */
}

.menu a {
  color: #fff;
  text-decoration: none;
  padding: 5px;
  display: block; /* Hace que el enlace ocupe todo el ancho del elemento */
}

.menu a:hover {
  background-color: #534f8d;
}
.container {
  max-width: 1650px;
  height: 500px;
  overflow-y: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.map-container {
  width: 100%;
  height: 300px;
}
.custom-button {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #2980b9;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
